<style>
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{background-color: purple;
h1, h2, h3 {
          background-color: green;
          font-family: "ubuntu", Regular 400;
img {
         width: 350px;
         height: 350px;
         margin-left: 130px;
}
table, th, td{
        border: 2px solid black
}
.gray-text (color:blue;)
#rounded-img {border-radius: 150px;}
body {
background-color: red;
}     
</style>    